%footer.signup-footer
  %nav
    %ul.clearfix
      %li
        = link_to "プライバシーポリシー"
      %li
        = link_to "メルカリ利用規約"
      %li
        = link_to "特定商取引に関する表記"
  = image_tag "mercari-logo-grey.svg",class:"single-footer-ligo",size:"80x65"
  %p
    %small © 2019 Mercari

