.sign_up_bpdy
  .signup-content
    = render partial: 'signup/sign_up_header', locals: { signup: @signup }
    .signup-main
      .l-signup-content
        %h2.signup-head 電話番号の確認
        .l-signup-inner
          .l-signup-content
            .form-list
              %label 携帯電話の番号
              %input.input-list{placeholder: :携帯電話の番号を入力, value: ""}/
              %p.l-signup-text
                本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
              %button.btn-red{type: "submit"} SMSを送信する
              %p.l-signup-text-bottom
                ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
              .text-right
                %p
                  = link_to "電話番号の確認が必要な理由"
                  =fa_icon 'angle-right'
    = render partial: 'signup/sign_up_footer', locals: { signup: @signup }


