.sign_up_bpdy
  .single-container
    = render partial: 'signup/sign_up_header', locals: { signup: @signup }
    .single-main
      .l-single
  = render partial: 'signup/sign_up_footer', locals: { signup: @signup }
