.sell{
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  text-align: center;
  z-index: 1000;
  &__link{
    text-decoration: none;
    .sell-wrapper{
      background-color: rgb(234, 53, 45);
      color: rgb(255, 255, 255);
      border-radius: 50%;
      width: 160px;
      height: 160px;
      padding-top: 30px;
      .sell-text{
        
      }
      .sell-icon{
        width: 60px;
        height: 54px;
        margin-top: 6px;
        max-width: 100%;
        max-height: 100%;
        color: rgb(255, 255, 255);
        margin: 5px auto 0px;
      }
    }
  }
}