.sign_up_body2{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  line-height: 1;
  padding:0 0 250px;
  .signup-content{
    padding:0 0 250px;
    .signup-header{
      text-align:center;
      h1{
        margin-bottom: 50px;
        img{
          float:center;
        }
      }
      .progress-bar{
        padding: 40px 0 0 44px;
        border: 0;
        display: inline-block;
        vertical-align: top;
        width: 552px;
        height:72px;
        text-align:right;
        font-size: 0;
        text-align: center;
        ol{
          margin: 0;
          position: relative;
          li.active{
            font-weight: 600;
            color: #ea352d;
          }
          li{
            min-width: 60px;
            display: inline-block;
            min-width: 40px;
            margin: 0 5% 0 0;
            font-size: 12px;
            color: #888; 
            .progress-status-red{
              background-color:#ea352d;
              width: 12px;
              height: 12px;
              margin: 8px auto 0;
              border-radius: 50%;
              position: relative;
              z-index: 1;
              .red-border{
                position: absolute;
                left: 10px;
                bottom: 5px;
                z-index: 2;
                display: block;
                background:#ea352d;
                border-style: solid;
                height:2px;
                width:185px;
              }
              .border{
                position: absolute;
                left: 11px;
                bottom: 5px;
                z-index: 2;
                display: block;
                width: 100%;
                height: 30px;
                background:#cccccc;
                border-style: solid;
                height:2px;
                width:290px;
              }
            }
            .progress-status{
              width: 12px;
              height: 12px;
              margin: 8px auto 0;
              background: #ccc;
              border-radius: 50%;
              position: relative;
            }
          }
        }
      }
    }
  }
  .signup-main{
    display: block;
    height: 515px;
    .l-signup-content{
      background: #fff;
      width: 700px;
      margin: 0 auto;
      .signup-head{
        font-size: 20px;
        padding: 15px;
        line-height: 1.5;
        text-align: center;
        font-weight:bold;
        }
      .l-signup-inner{
        border-top: 1px solid #f5f5f5;
        padding: 40px 40px 64px;  
        .l-signup-content{
          max-width: 343px;
          margin: 0 auto; 
          .form-list{
            margin: 24px 0 0;
            label{
              font-weight:bold;
            }
            .input-list {
              width: calc(50% - 6px);
              margin: 8px 0 0;
              width:100%;
              padding: 15px 10px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              line-height: 1.5;
              font-size: 18px;
            }
            .l-signup-text{
              padding: 10px 0 60px;
            }
            .btn-red{
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              cursor: pointer;
              text-align: center;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              margin-top: 30px;
              }
              .l-signup-text-bottom{
                font-size:14px;
                padding: 10px 0 0;
              }
              .text-right{
                padding:25px 0 0;
                text-align:right;
                p{
                  line-height: 1.5;
                  margin:20px 0 0;
                  a{
                    color: #0099e8;
                    text-decoration: none;
                    width:18px;
                    }
                  i{
                    color:#0099e8;
                  }
                }
              }
            }
          } 
        }
      }
    } 
  }
