.drop-down {
  .lower-contents__left__search-1 {
    position: relative;
    z-index: 100;
    // 親カテゴリ
    .parent-category-list {
      display: none;
      .parent-category-box {
        height: 44px;
        line-height: 44px;
        font-weight: lighter;
        background-color: #FFFFFF;
        padding: 0 30px 0 20px;
        .drop-link {
          display: block;
          width: 100%;
          color: black;
        }
        // 子カテゴリ
        .child-category-list {
          display: none;
          width: 250px;
          min-height: 572px;
          background-color: #FFFFFF;
          .child-category-box {
            height: 30px;
            line-height: 30px;
            color: black;
            background-color: #FFFFFF;
            padding: 0 30px 0 20px;
            .drop-link {
              display: block;
              width: 100%;
              color: black;
            }
            // 孫カテゴリ
            .grand-child-category-list {
              display: none;
              width: 250px;
              min-height: 572px;
              background-color: #FFFFFF;
              .grand-child-category-box {
                height: 30px;
                line-height: 30px;
                color: black;
                background-color: #FFFFFF;
                padding: 0 30px 0 20px;
              }
            }
          }
        }
      }    
    }
  }

  // 「カテゴリーを探す」にマウスが乗った時
  &:hover {
    .parent-category-list {
      display: block;
      position: absolute;
      top: 0px;
      box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
      .parent-category-box {
        &:hover {
          background-color: #ea352e;
          .drop-link {
            color: white;
          }
          .child-category-list {
            display: block;
            position: absolute;
            top: 0;
            left: 218px;
            min-height: 572px;
            box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
            .child-category-box{
              &:hover{
                background-color: #F5F5F5;
                .grand-child-category-list {
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 250px;
                  min-height: 572px;
                  box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
                  .grand-child-category-box {
                    &:hover {
                      background-color: #F5F5F5;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}