.wrapper-profile {
  background-color:#F5F5F5;
  width: 1020px;
  height: 1300px;
  margin: 80px auto 0;
  display: flex;
  .container {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    &__right {
      width: 700px;
      height: 568px;
      float: right;
      background-color: white;
      &--title {
        width: 100%;
        height: 50px;
        text-align: center;
        h2 {
          color: black;
          padding: 8px 24px;
          font-size: 24px;
          font-weight: 800;
        }
      }
      &__form{
        width: 220px;
        height: 48px;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 16px 8px;

        &--name{
          width: 100%;
          height: 156px;
          background-image: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?39195692");
          padding: 72px 16px 24px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            border-radius: 50%;
          }
          .nickname{
            width: 220px;
            height: 48px;
            margin-left: 8px;
            padding: 10px 16px 8px;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            border-radius: 4px;
          }
        }
        &--content{
          height: 262px;
          display: block;
          max-width: 100%;
          padding: 10px;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
          padding: 40px 16px;

          &--text {
            min-height: 216px;
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;

          }
          button {
            width: 100%;
            height: 50px;
            color: white;
            background-color: red;
            margin-top: 16px;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }


  }

}