body{
  background:#f5f5f5;
}

.hide{
  display: none;
}

a{
  text-decoration: none;
}
.wrapper-profile{
  display: flex;
  width: 1020px;
  margin: 40px auto 0;
  .container__left{
    display: flex;
    padding-bottom: 40px;
  }
  
  .container__right{
    width: 700px;
    height: 100%;
    background-color: #fff;
    &--title{
      display: inline-block;
      width: 100%;
      line-height: 24px;
      font-size: 24px;
      padding: 8px 24px;
      text-align: center;
      font-weight: bold;
    }
    &__form{
      &__image{
        padding: 72px 16px 24px;
        background: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?35731317");
        text-align: center;
        .avater{
          height: 50px;
          width: 50px;
          border-radius: 50%;
          vertical-align: middle;
        }
        .hidden-form{
          display: none;
        }
        .avater-name-form{
          width: 220px;
          margin-left: 8px;
          vertical-align: middle;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      &__content{
        padding: 40px 16px;
        &--text{
          min-height: 216px;
          width: 100%;
          max-width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
        }
        &--btn{
          margin-top: 16px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}



.container-mypage{
  display: flex;
  width: 1020px;
  margin: 40px auto 0;
  padding-bottom: 40px;
  .container-mypage__content{
    width: calc(100% - 280px);
    .container-mypage__usericon{
      position: relative;
      height: 155px;
      padding: 20px;
      background-image: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?39195692");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      a{
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        color: #333;
      }
      .avater{
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: #888;
      }
    }
  }

  .user{
    font-weight: 600;
    line-height: 1.4;
    margin: 8px 0 0;
    font-size: 14px;
    &--number {
      margin: 8px 0 0;
      font-size: 0;
      &__evaluation{
        display: inline-block;
        font-size: 14px;
      }
      &__exhibits{
        display: inline-block;
        font-size: 14px;
        margin: 0 0 0 16px;
      }
    }
  }
}

.container-mypage__news{
  margin: 0;
  background: #fff;
  .mypage-tabs{
    border: 0;
    background: #eee;
    font-size: 0;
    cursor: pointer;
    li {
      width: 50%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
    }
    &__notice,&__news{
      position: relative;
      display: block;
      color: #333;
      font-size: 16px;
      line-height: 72px;
      font-weight: bold;
    }
    &__news{
      background: #fff;
      border-top: 2px solid red;
    }
    &__right-text{
      padding: 160px 0 60px;
      background-repeat: no-repeat;
      background-position: center 40px;
      background-size: 78px 85px;
      text-align: center;
      font-size: 16px;
      color: #ccc;
      list-style: none;
    }
  }
}


.mypage-item{
  &__link{
    display: block;
    min-height: 80px;
    padding: 16px;
    color: #333;
    cursor: pointer;
    figure{
      position: relative;
      overflow: hidden;
      float: left;
      width: 48px;
      height: 48px;
      margin: 0;
    }
    time{
      display: inline-block;
      color: #888;
    }
  }
  &__text{
    overflow: hidden;
    display: block;
    max-height: 4.4em;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  &__body{
    margin: 0 40px 0 68px;
  }
  &__list{
    li{
      position: relative;
      border-bottom: 1px solid #eee;
      list-style-type: none;
    }
    li:first-child{
      border-bottom: 1px solid #eee;
    }
    li:not(:last-child):hover{
      background-color:#FAFAFA;
    }
    li:last-child{
      border: 0;
    }
  }
  &--all{
    padding: 16px;
    &__text{
      cursor: pointer;
      display: block;
      height: 56px;
      margin: 0 auto;
      background: #eee;
      color: #333;
      line-height: 56px;
      text-align: center;
      &:hover{
        background-color: #F2F2F2;
      }
    }
  }
  &__icon-mercari{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
}


.container-mypage-buy{
  margin: 40px 0 0;
  background: #fff;
  .mypage-buy{
    &--head{
      padding: 0 16px;
      background: #fafafa;
      font-size: 16px;
      line-height: 72px;
      font-weight: bold;
    }
    &--tabs{
      cursor: pointer;
      border: 0;
      background: #eee;
      font-size: 0;
      li{
        width: 50%;
        display: inline-block;
        text-align: center;
        vertical-align: top;

      }
      &__trading-now,&__trading-old{
        position: relative;
        display: block;
        color: #333;
        font-size: 16px;
        line-height: 72px;
        font-weight: bold;
      }
      &__trading-now{
        border-top: 2px solid red;
        background: #fff;
      }
    }
    &--content{
      display: block;
      background-image: url("https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?39195692");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 40px;
      background-size: 78px 85px;
      &__now--text {
        list-style-type: none;
        padding: 160px 0 60px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
      }
      &__old--text{
        padding: 160px 0 60px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
      }
    }
  }
}


.fa-clock{
  margin: 0 8px 0 0;
}

.chevron-right-mypage{
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
}

.side {
  margin: 40px auto 0;
  background: #fff;
}

.buyed_item{
  display: none;
}