%aside
  .background-image
    .aside
      .aside__left
        .aside__left--1
          スマホで簡単フリマアプリ
        .aside__left--2
          今すぐ無料ダウンロード！
        .aside__left--icons
          %img.mercari-icon{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}
          %a.app-store{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank"}
            %img.app-store--icon{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
          %a.google-play{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank"}
            %img.google-play--icon{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}
      .aside__right
        %img.mobile{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}

