= render partial: 'items/header', locals: { }

%div
  %img{src:"https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg"}
  .popularity-index
    %h2.index-genre
      人気のカテゴリー
    %div.genre
      %ul.genre__wrapper
        %li.genre__wrapper__list
          %a.genre__wrapper__list__name{href: ""}
            レディース
        %li.genre__wrapper__list
          %a.genre__wrapper__list__name{href: ""}
            メンズ
        %li.genre__wrapper__list
          %a.genre__wrapper__list__name{href: ""}
            家電・スマホ・カメラ
        %li.genre__wrapper__list
          %a.genre__wrapper__list__name{href: ""}
            おもちゃ・ホビー・グッズ

  .wrapper
    .items
      .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            レディース新着アイテム
          %a.see-more{href: ""}
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
      .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            メンズ新着アイテム
          %a.see-more{href: ""}
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
      .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            家電・スマホ・カメラ新着アイテム
          %a.see-more{href: ""}
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
      .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            おもちゃ・ホビー・グッズ新着アイテム
          %a.see-more{href: ""}
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn

  .popularity-index
    %h2.index-genre
      人気のブランド
    %div.genre
      %ul.genre__wrapper
        %li.genre__wrapper__list
          %a.genre__wrapper__list__name{href: ""}
            シャネル
        %li.genre__wrapper__list
          %a.genre__wrapper__list__name{href: ""}
            ルイヴィトン
        %li.genre__wrapper__list
          %a.genre__wrapper__list__name{href: ""}
            シュプリーム
        %li.genre__wrapper__list
          %a.genre__wrapper__list__name{href: ""}
            ナイキ

  .wrapper
    .items
      .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            シャネル新着アイテム
          %a.see-more{href: ""}
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
      .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            ルイヴィトン新着アイテム
          %a.see-more{href: ""}
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
      .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            シュプリーム新着アイテム
          %a.see-more{href: ""}
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
      .items__genre
        .items__genre__title
          %h3.items__genre__title__text
            ナイキ新着アイテム
          %a.see-more{href: ""}
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn
            .item
              %a.item-link{href: ""}
                %img.item__image{src: "https://static.mercdn.net/thumb/photos/m66109280588_1.jpg?1570088951"}
                %span.item__price
                  ¥38,800
                .item__name
                  %span.item__name__text
                    ルイヴィトン・モノグラム・トゥルーヴィルaaaaaaaaaaaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnn

= render partial: 'items/sell-icon', locals: { }
= render partial: 'items/aside', locals: { }
= render partial: 'items/footer', locals: { }