.l-container
  .l-content
    %section.l-chapter-container
      %section.settings-add-card
        .l-single-content
          %a.add_btn{:href => "https://www.mercari.com/jp/mypage/card/"}
            ログアウト
